@import "../global/colors";

.footer-main {
  background-color: $footerCol;
  p,
  a {
    color: #b5b3b0;
  }
  .sandbox {
    li:hover {
      transform: scale(1.1);
      background-color: #ffffff6b;
      border-radius: 50%;
      color: white;
    }
  }
}

.footer-form {
  button:hover {
    transform: none;
  }
}
