.last {
  .container {
    .dots2 {
      opacity: 0.5;
      background-image: radial-gradient(#212121 20%, rgb(255, 255, 255) 20%);
      background-position: 0 0;
      background-size: 15px 15px;
      height: 150px;
      width: 200px;
    }
  }
}
