div(class="customers py-[140px]")
    div(class="container")
        div(class="main-head text-center py-6  rounded-3xl")
            h1(class="text-3xl text-gray-500 ") Happy Customers
        div(class="customers grid grid-cols-350 lg:grid-cols-350  my-[25px]")
            div(class="box rounded bg-white shadow-xl p-5 w-[270px] mx-auto my-[15px] translate-x-[-30px] opacity-0",animates="animate-left",data-parralex="true")
                div(class="stars py-3")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                i(class="fa-solid fa-quote-right absolute text-gray-200 fa-3x")
                q(class="relative") Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
                div(class="person flex flex-row items-center py-[20px]")
                    div(class="image")
                        img(class="w-[50px] rounded-[50%]",src="imgs/avatar-01.png")
                    div(class="text pl-3")
                        h1(class="font-bold") Coris Ambady
                        p(class="text-gray-400 text-sm") Financial Analyst
            div(class="box rounded bg-white shadow-xl p-5 w-[270px] mx-auto my-[15px] translate-y-[-30px] opacity-0",animates="animate-down",data-parralex="true")
                div(class="stars py-3")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                i(class="fa-solid fa-quote-right absolute text-gray-200 fa-3x")
                q(class="relative") Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
                div(class="person flex flex-row items-center py-[20px]")
                    div(class="image")
                        img(class="w-[50px] rounded-[50%]",src="imgs/avatar-02.png")
                    div(class="text pl-3")
                        h1(class="font-bold") Coris Ambady
                        p(class="text-gray-400 text-sm") Financial Analyst
            div(class="box rounded bg-white shadow-xl p-5 w-[270px] mx-auto my-[15px] translate-x-[-30px] opacity-0",animates="animate-right",data-parralex="true")
                div(class="stars py-3")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                i(class="fa-solid fa-quote-right absolute text-gray-200 fa-3x")
                q(class="relative") Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
                div(class="person flex flex-row items-center py-[20px]")
                    div(class="image")
                        img(class="w-[50px] rounded-[50%]",src="imgs/avatar-03.png")
                    div(class="text pl-3")
                        h1(class="font-bold") Coris Ambady
                        p(class="text-gray-400 text-sm") Financial Analyst
            div(class="box rounded bg-white shadow-xl p-5 w-[270px] mx-auto my-[15px] translate-x-[-30px] opacity-0",animates="animate-left",data-parralex="true")
                div(class="stars py-3")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                i(class="fa-solid fa-quote-right absolute text-gray-200 fa-3x")
                q(class="relative") Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
                div(class="person flex flex-row items-center py-[20px]")
                    div(class="image")
                        img(class="w-[50px] rounded-[50%]",src="imgs/avatar-04.png")
                    div(class="text pl-3")
                        h1(class="font-bold") Coris Ambady
                        p(class="text-gray-400 text-sm") Financial Analyst
            div(class="box rounded bg-white shadow-xl p-5 w-[270px] mx-auto my-[15px] translate-y-[-30px] opacity-0",animates="animate-up",data-parralex="true")
                div(class="stars py-3")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                i(class="fa-solid fa-quote-right absolute text-gray-200 fa-3x")
                q(class="relative") Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
                div(class="person flex flex-row items-center py-[20px]")
                    div(class="image")
                        img(class="w-[50px] rounded-[50%]",src="imgs/avatar-05.png")
                    div(class="text pl-3")
                        h1(class="font-bold") Coris Ambady
                        p(class="text-gray-400 text-sm") Financial Analyst
            div(class="box rounded bg-white shadow-xl p-5 w-[270px] mx-auto my-[15px] translate-x-[-30px] opacity-0",animates="animate-right",data-parralex="true")
                div(class="stars py-3")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                    i(class="fa-solid fa-star text-yellow-400 text-[10px]")
                i(class="fa-solid fa-quote-right absolute text-gray-200 fa-3x")
                q(class="relative") Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel laudantium ex quod quis delectus eum, quae accusamus minima, assumenda quasi nulla corrupti totam animi?
                div(class="person flex flex-row items-center py-[20px]")
                    div(class="image")
                        img(class="w-[50px] rounded-[50%]",src="imgs/avatar-06.png")
                    div(class="text pl-3")
                        h1(class="font-bold") Coris Ambady
                        p(class="text-gray-400 text-sm") Financial Analyst