#headerContainer.header.header.w-full.z-50
  .container.relative
    #headerSec.flex.flex-row.items-center.justify-between.shadow-lg.rounded-xl(
      class="h-[80px]"
    )
      .logo
        img.px-4(src="./imgs/logo.png", class="w-5/6")
      .menu.hidden(class="lg:flex lg:flex-row")
        h1.font-semibold.cursor-pointer(class="text-[18px] px-[10px]") Demos
        h1.font-semibold.cursor-pointer(class="text-[18px] px-[10px]") Pages
        h1.font-semibold.cursor-pointer(class="text-[18px] px-[10px]") Projects
        h1.font-semibold.cursor-pointer(class="text-[18px] px-[10px]") Blog
        h1.font-semibold.cursor-pointer(class="text-[18px] px-[10px]") Blocks
        h1.font-semibold.cursor-pointer(class="text-[18px] px-[10px]") Doumentation
      .sign.px-3
        .buttons
          button(class="") Sign in
          button.blue-btn.ml-2.shadow-lg Sign up
