div(class="last lg:py-[200px]")
    div(class="container")
        div(class="content text-center py-[60px] relative")
            div(class="text")
                h1(class="text-3xl font-semibold") We are trusted by over 5000+ clients.
                h1(class="text-3xl font-semibold") Join them now and grow your busniess.
            div(class="btns pt-[80px]")
                button(data-parralex="true",animates="animate-up",class="blue-btn translate-y-[60px] opacity-0 mr-3") Get Started
                button(data-parralex="true",animates="animate-up",class="green-btn translate-y-[40px] opacity-0") Free Trial
            div(class="dots2 absolute hidden lg:block")
            div(class="dots2 absolute right-0 top-0 rounded-[50%] bg-red-200 hidden lg:block")
            div(class="dots2 absolute right-0 hidden lg:block")
            div(class="dots2 absolute top-0 rotate-45 hidden lg:block")
            div(class="dots2 absolute top-10 rotate-90 hidden")