.Plans.bg-gray-200
  .container
    .text.text-center.flex.flex-col.items-center(class="py-[100px]")
      h1.font-bold.mx-auto(class="text-[30px] text-[#343f52] pb-[40px] lg:w-[600px]") We offer great prices, premium products and quality service for your business
      label.flex.flex-row.items-center(class="lg:mb[100px] pb-[100px]")
        .mx-3.text-gray-700.font-medium Monthly
        .relative.cursor-pointer
          input.sr-only.x3.month(type="checkbox")
          .block.bg-gray-300.w-14.h-8.rounded-full
          .dot.absolute.left-1.top-1.bg-white.w-6.h-6.rounded-full.transition.duration-300
        .mx-3.text-gray-700.font-medium Yearly
