div(class="2ndData my-[50px] lg:py-[60px]")
    div(class="container")
        div(class="content flex flex-col lg:flex-row-reverse")
            div(class="right relative flex justify-between lg:items-center lg:mx-[25px]")
                span(class="absolute z-[-1] w-[150px] left-[20%] top-[20%] h-[150px] bg-[#e1f6f0] lg:top-[30%]")
                div(class="1 flex flex-col lg:mr-[15px]")
                    img(src="imgs/sa9@2x.jpg",data-parralex="true",animates="animate-light",class="rounded shadow-xl w-[83%] lg:w-max mb-[20px] opacity-0")
                    img(src="imgs/sa10@2x.jpg",data-parralex="true",animates="animate-light",class="rounded shadow-xl w-[73%] lg:w-max ml-[15px] opacity-0")
                div(class="2 flex flex-col")
                    img(src="imgs/sa11@2x.jpg",data-parralex="true",animates="animate-light",class="rounded shadow-xl w-[83%] lg:w-max ml-[15px] opacity-0")
                    img(src="imgs/sa12@2x.jpg",data-parralex="true",animates="animate-light",class="rounded shadow-xl w-[83%] lg:w-max mt-[25px] ml-[15px] opacity-0")
            div(class="left my-[50px] lg:px-14  lg:mx-auto ")
                h1(class="text-3xl font-semibold") We have considered our solutions to support every stage of growth.
                p(class="text-gray-500 my-6") Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit rem asperiores porro vitae. Vitae laboriosam beatae quas aspernatur praesentium commodi dignissimos, rerum aliquid eos. Accusantium sunt animi nam nobis iste!
                div(class="inner-data flex felx-col lg:grid lg:grid-cols-2")
                    div(class="text-data flex items-center mt-3")
                        i(class="fa-solid fa-circle-check text-[20px]  text-gray-200 bg-green-500 rounded-[50%] mr-2")
                        p(class=" text-gray-500 font-normal text-[17px]") Lorem ipsum dolor sit amet consectetur.
                    div(class="text-data flex items-center mt-3")
                        i(class="fa-solid fa-circle-check text-[20px]  text-gray-200 bg-green-500 rounded-[50%] mr-2")
                        p(class=" text-gray-500 font-normal text-[17px]") Lorem ipsum dolor sit amet consectetur.
                    div(class="text-data flex items-center mt-3")
                        i(class="fa-solid fa-circle-check text-[20px]  text-gray-200 bg-green-500 rounded-[50%] mr-2")
                        p(class=" text-gray-500 font-normal text-[17px]") Lorem ipsum dolor sit amet consectetur.
                    div(class="text-data flex items-center mt-3")
                        i(class="fa-solid fa-circle-check text-[20px]  text-gray-200 bg-green-500 rounded-[50%] mr-2")
                        p(class=" text-gray-500 font-normal text-[17px]") Lorem ipsum dolor sit amet consectetur.