@import './colors';

.footer-form{
    width: 150px;
    height: 20px;
    position: relative;
    input{
        width: 180px;
    }
    button:hover{
        transform: none;
    }
}
.footer-main{
    background-color: #{$footerCol};
}